<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="configusuariodiseno.css">
    <title>Usuario</title>
</head>
<body>
    <a href="inicio.html" id="inicio-button">Ir a Inicio</a>
 
    <div id="registro">
        <form method="post" action="{% url 'configusuario_view' %}">
            {% csrf_token %}
            <div class="input-container">
                <input type="text" name="name" id="name" placeholder="Nombre" value="{{ usuario.nombre }}">
                <button type="submit" id="namebtn">EDITAR</button>
            </div>
            <div class="input-container">
                <input type="text" name="correo" id="correo" placeholder="Correo" value="{{ usuario.correo }}">
                <button type="submit" id="correobtn">EDITAR</button>
            </div>
            <div class="input-container">
                <input type="password" name="contraseña" id="contra" placeholder="Contraseña">
                <button type="submit" id="contrabtn">EDITAR</button>
            </div>
            <div class="input-container">
                <input type="text" name="telefono" id="telefono" placeholder="Telefono" value="{{ usuario.telefono }}">
                <button type="submit" id="telefonobtn">EDITAR</button>
            </div>
            <div class="input-container">
                <input type="text" name="direccion" id="direccion" placeholder="Direccion" value="{{ usuario.direccion }}">
                <button type="submit" id="direccionbtn">EDITAR</button>
            </div>
        </form>
        <button id="btnconfirmar" type="submit">CONFIRMAR</button> <br>
    </div>
</body>
</html>
