* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 152, 120);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#logosito {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

#loginpanel {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    left: 10%;
    right: 10%;
    top: 20%;
    padding: 20px; 
    background-color: rgb(255, 127, 86);
}

@media (max-width: 768px) {
    #loginpanel {
        top: 10%;
    }
}

#contenedor-blanco {
    background-color: white !important;
    padding: 20px;
    text-align: center; 
}

p {
    font-size: 24px; 
    margin-bottom: 20px; 
}

#btnlogin {
    border-radius: 10px;
    background-color: #e98f19;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

#btnlogin:hover {
    background-color: #bb7417;
}

#inicio-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #e98f19;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

#inicio-button:hover {
    background-color: #bb7417;
}

/* Estilos para la pantalla ancha */
.container {
    display: flex;
    align-items: flex-start;
}

#contenedor-grande {
    flex: 1;
    background-color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

#contenedor-derecha {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
}

#contenedor-pequeno-1,
#contenedor-pequeno-2,
#contenedor-pequeno-3 {
    background-color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.calificacion {
    color: blue;
}

#contenedor-grande h2 {
    font-size: 24px;
    margin: 10px 0;
}

#contenedor-grande img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

#contenedor-grande p {
    margin: 10px 0;
}

#contenedor-pequeno-1 img,
#contenedor-pequeno-2 img,
#contenedor-pequeno-3 img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

#contenedor-pequeno-1 p,
#contenedor-pequeno-2 p,
#contenedor-pequeno-3 p {
    margin: 10px 0;
}

.calificacion {
    color: blue;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #contenedor-grande {
        order: 1; 
    }

    #contenedor-derecha {
        order: 2; 
    }

    #contenedor-pequeno-1 {
        order: 3;
    }

    #contenedor-pequeno-2 {
        order: 4;
    }

    #contenedor-pequeno-3 {
        order: 5;
    }

    #contenedor-pequeno-1 img,
    #contenedor-pequeno-2 img,
    #contenedor-pequeno-3 img {
        width: 50px;
        height: 50px;
    }
}

@media (min-width: 769px) {
    .container {
        flex-direction: row;
    }

    #contenedor-grande {
        order: 1;
    }

    #contenedor-derecha {
        order: 2; 
    }

    #contenedor-pequeno-1 {
        order: 3;
    }

    #contenedor-pequeno-2 {
        order: 4;
    }

    #contenedor-pequeno-3 {
        order: 5;
    }

    #contenedor-pequeno-1 img,
    #contenedor-pequeno-2 img,
    #contenedor-pequeno-3 img {
        width: 50px;
        height: 50px;
    }
}

