*{
    box-sizing: border-box;
    
}

body{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: rgb(255, 127, 86);
}

#cabeza{

    position: relative;
    display: flex;
    padding-bottom: -800px;
}

#elementos{
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    font-weight: bold;
}

#carro{
    position: absolute;
    height: 80px;
    width: auto;
    left: 1450px;
    top: 32px;
}

#usuario{
    position: absolute;
    height: 80px;
    width: auto;
    top: 30px;
    left: 1725px;
}

#lupita{
    position: absolute;
    height: 60px;
    width: auto;
    left: 380px;
    top: 63px;
}

#buscador{
    position: absolute;
    display: inline-block;
    width: 500px;
    height: 50px;
    margin-top: 70px;
    margin-left: 200px;
}

#txtcarro{
    position: absolute;
    display: inline-block;
    margin-left: 1200px;
    margin-top: 110px;
}

#txtiniciar{
    position: absolute;
    display: inline-block;
    margin-left: 1400px;
    margin-top: 110px;
}

#banersito{
    width: 1863px;
    height: auto;
}

#productos{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;  
    margin-left: 50px;

}

#superqueso{
    
    
    margin-right: 200px;

}


#soda{
    
    margin-right: 200px;
}

#papas{
    
    margin-right: 200px;
}

#familia{
    
    margin-right: 200px;
}

#burger{
    position: absolute;
    width: auto;
    height: 200px;
    left: -20px;
   
}

#sodaa{
    position: absolute;
    width: auto;
    height: 160px;
    top: 170px;
    margin-left: 340px;
}

#fritas{
    position: absolute;
    width: auto;
    height: 120px;
    top: 180px;
    margin-left: 640px;
}

#burger2{
    position: absolute;
    width: auto;
    height: 120px;
    top: 180px;
    margin-left: 1000px;
}

#burger2-1{
    position: absolute;
    width: auto;
    height: 120px;
    top: 120px;
    margin-left: 1000px;
}

#burger2-2{
    position: absolute;
    width: auto;
    height: 120px;
    top: 160px;
    margin-left: 1070px;
}

#burger2-3{
    position: absolute;
    width: auto;
    height: 120px;
    top: 160px;
    margin-left: 930px;
}

#burger1{
    position: absolute;
    width: auto;
    height: 200px;
    top: 100px;
    left: 1370px;
   
}

#sodaa1{
    position: absolute;
    width: auto;
    height: 160px;
    top: 170px;
    margin-left: 1450px;
}

#fritas1{
    position: absolute;
    width: auto;
    height: 90px;
    top: 220px;
    margin-left: 1310px;
}


