{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myappsitio/carritodiseno.css' %}">
    <title>Login</title>
</head>

<body>
    <a href="{% url 'inicio_view' %}" id="inicio-button">Ir a Inicio</a>
    <img src="{% static 'myappsitio/logoRams.png' %}" alt="logo" id="logosito"><br>
    <div id="loginpanel">
        <div id="contenedor-blanco"></div>
        <button id="confirmarPagoButton">CONFIRMAR PAGO $0</button>
        <button id="clearCartButton">Limpiar Carrito</button>
    </div>
    <div id="totalAmount">Total del Carrito: $0</div>

    <script>
        const selectedItems = JSON.parse(localStorage.getItem('selectedItems')) || {};
        const contenedorBlanco = document.getElementById('contenedor-blanco');
        const totalAmountDiv = document.getElementById('totalAmount');
        const confirmarPagoButton = document.getElementById('confirmarPagoButton');

        function updateCart() {
            contenedorBlanco.innerHTML = "";
            let totalAmount = 0;

            for (const itemId in selectedItems) {
                const itemDiv = document.createElement('div');
                itemDiv.classList.add('item');

                const itemName = getItemNameById(itemId);
                const itemPrice = getItemPriceById(itemId);
                const itemTotalPrice = selectedItems[itemId] * parseInt(itemPrice.substring(1));

                totalAmount += itemTotalPrice;

                itemDiv.innerHTML = `
                    <div class="item-image">
                        <img src="${getItemImageById(itemId)}" alt="${itemName}">
                    </div>
                    <div class="item-info">
                        <span>${itemName}</span>
                        <span>${itemPrice}</span>
                    </div>
                    <div class="item-buttons">
                        <button class="btn-plus" data-item-id="${itemId}">+</button>
                        <span class="item-count">${selectedItems[itemId]}</span>
                        <button class="btn-minus" data-item-id="${itemId}">-</button>
                    </div>
                    <div class="item-total-price">
                        Total: $${itemTotalPrice}
                    </div>
                `;

                contenedorBlanco.appendChild(itemDiv);
            }

            totalAmountDiv.innerText = `Total del Carrito: $${totalAmount}`;

            confirmarPagoButton.addEventListener('click', confirmarPago);
            confirmarPagoButton.innerHTML = `CONFIRMAR PAGO $${totalAmount}`;

            const clearCartButton = document.getElementById('clearCartButton');
            clearCartButton.addEventListener('click', clearCart);

            const btnPlusList = document.querySelectorAll('.btn-plus');
            const btnMinusList = document.querySelectorAll('.btn-minus');

            btnPlusList.forEach(btn => {
                btn.addEventListener('click', handleIncrementClick);
            });

            btnMinusList.forEach(btn => {
                btn.addEventListener('click', handleDecrementClick);
            });
        }
        function getItemNameById(itemId) {
            switch (itemId) {
                case 'btn1':
                    return 'WAGYU A5';
                case 'btn2':
                    return 'REFRESCO';
                case 'btn3':
                    return 'PAPAS FRITAS';
                case 'btn4':
                    return 'PACK INDIVIDUAL';
                case 'btn8':
                    return 'PRIME';
                case 'btn7':
                    return 'GUACA-BACCON';
                case 'btn6':
                    return 'LOW-CARB';
                case 'btn5':
                    return 'PACK-4-FAMILY';
                default:
                    return 'Producto Desconocido';
            }
        }
    
        function getItemPriceById(itemId) {
            switch (itemId) {
                case 'btn1':
                    return '$1250';
                case 'btn2':
                    return '$25';
                case 'btn3':
                    return '$50';
                case 'btn4':
                    return '$160';
                case 'btn8':
                    return '$450';
                case 'btn7':
                    return '$120';
                case 'btn6':
                    return '$130';
                case 'btn5':
                    return '$250';
                default:
                    return '$0';
            }
        }
    
        function getItemImageById(itemId) {
            switch (itemId) {
                case 'btn1':
                    return '{% static "myappsitio/superburger.png" %}';
                case 'btn2':
                    return '{% static "myappsitio/sodita.png" %}';
                case 'btn3':
                    return '{% static "myappsitio/papitas.png" %}';
                case 'btn4':
                    return '{% static "myappsitio/burger.png" %}';
                case 'btn8':
                    return '{% static "myappsitio/burger.png" %}';
                case 'btn7':
                    return '{% static "myappsitio/guacabaccon.png" %}';
                case 'btn6':
                    return '{% static "myappsitio/lowcrab.png" %}';
                case 'btn5':
                    return '{% static "myappsitio/burger2.png" %}';
                default:
                    return '{% static "ruta/de/imagen_desconocida.png" %}';
            }
        }

        function clearCart() {
            localStorage.removeItem('selectedItems');
            updateCart();
        }

        function handleIncrementClick(event) {
            const itemId = event.currentTarget.dataset.itemId;
            selectedItems[itemId]++;
            updateCart();
            saveToLocalStorage();
        }

        function handleDecrementClick(event) {
            const itemId = event.currentTarget.dataset.itemId;
            if (selectedItems[itemId] > 1) {
                selectedItems[itemId]--;
            } else {
                delete selectedItems[itemId];
            }
            updateCart();
            saveToLocalStorage();
        }

        function confirmarPago() {
            // Obtener el contenido del carrito del local storage
            const carritoContenido = {};
            for (const itemId in selectedItems) {
                const itemName = getItemNameById(itemId);
                carritoContenido[itemName] = selectedItems[itemId];
            }
        
            fetch('/guardar_orden/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),  
                },
                body: JSON.stringify({ detalles: carritoContenido }),
            })
            .then(response => response.json())
            .then(data => {
                // Manejar la respuesta del servidor si es necesario
                console.log(data);
            })
            .catch(error => {
                console.error('Error al enviar la orden al servidor:', error);
            });
        
            // Limpiar el carrito local después de confirmar el pago
            clearCart();
        }


        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Buscar el token CSRF
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }










        function saveToLocalStorage() {
            localStorage.setItem('selectedItems', JSON.stringify(selectedItems));
        }

        updateCart();
    </script>
</body>

</html>