{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myappsitio/configusuariodiseno.css' %}">
    <title>Usuario</title>
</head>
<body>
    <a href="{% url 'inicio_view' %}" id="inicio-button">Ir a Inicio</a>
 
    <div id="registro">
        <div class="input-container">
            <input type="text" id="name" placeholder="Nombre">
            <button id="namebtn">EDITAR</button>
        </div>
        <div class="input-container">
            <input type="text" id="correo" placeholder="Correo">
            <button id="correobtn">EDITAR</button>
        </div>
        <div class="input-container">
            <input type="password" id="contra" placeholder="Contraseña">
            <button id="contrabtn">EDITAR</button>
        </div>
        <div class="input-container">
            <input type="text" id="telefono" placeholder="Telefono">
            <button id="telefonobtn">EDITAR</button>
        </div>
        <div class="input-container">
            <input type="text" id="direccion" placeholder="Direccion">
            <button id="direccionbtn">EDITAR</button>
        </div>
        <button id="btnconfirmar">CONFIRMAR</button> <br>
    </div>
</body>
</html>
