{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myappsitio/configusuariodiseno.css' %}">
    <title>Usuario</title>
    <p>Estás viendo la plantilla configusuario.html</p>

</head>
<body>
    <a href="{% url 'inicio_view' %}" id="inicio-button">Ir a Inicio</a>
    <div id="registro">
        <form method="post" action="{% url 'config_usuario' %}">
            {% csrf_token %}
            <input type="text" name="name" id="name" placeholder="Nombre" required> <br>
            <input type="email" name="correo" id="correo" placeholder="Correo" required> <br>
            <input type="password" name="contra" id="contra" placeholder="Contraseña" required> <br>
            <input type="tel" name="telefono" id="telefono" placeholder="Telefono" required> <br>
            <input type="text" name="direccion" id="direccion" placeholder="Direccion" required> <br>
            <button type="submit" id="btnregistro">CONFIRMAR</button> <br>
        </form>
    </div>
</body>
</html>
