{% load static %}

<!-- historial.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myappsitio/historial.css' %}">
    <title>Historial de Compras</title>
</head>
<body>
    <a href="{% url 'inicio_view' %}" id="inicio-button">Ir a Inicio</a>
    <img src="{% static 'myappsitio/logoRams.png' %}" alt="logo" id="logosito"><br>
    <div id="loginpanel">
        <p>Historial de: {{ usuario.nombre }}</p>  <!-- Muestra el nombre del usuario -->
        <div id="contenedor-blanco">
            {% for compra in historial %}
                <!-- Mostrar información de cada compra, por ejemplo: -->
                <p>{{ compra }}</p>
                <p>Detalles:</p>
                <pre>{{ compra.detalles|safe }}</pre>
                <hr>
            {% endfor %}
        </div>
        <button id="limpiarHistorialButton">Limpiar Historial</button>

        <!-- Agrega un enlace para ir al formulario de inicio de sesión -->
        <p>¿Quieres iniciar sesión con otra cuenta? <a href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a></p>
    </div>
</body>
</html>
