<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="infoplatdiseno.css">
    <title>Login</title>
</head>
<body>
    <a href="inicio.html" id="inicio-button">Ir a Inicio</a>
    <img src="logoRams.png" alt="logo" id="logosito"><br>
    <div id="loginpanel">
        <div class="container">
            <div id="contenedor-grande" class="contenedor">
                    <div class="calificacion">Calificación: 5/5</div>
                    <h2>Hamburguesa wagyu A5</h2>
                    <img src="wagyu.png" alt="Imagen de ejemplo">
                    <p>Precio: $1250</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                
            </div>
            <div id="contenedor-derecha">
                <div id="contenedor-pequeno-1" class="contenedor">
                    <img src="persona1.jpg" alt="Imagen de ejemplo 1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                    <div class="calificacion">Calificación: 5/5</div>
                </div>
                <div id="contenedor-pequeno-2" class="contenedor">
                    <img src="persona2.jpg" alt="Imagen de ejemplo 2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                    <div class="calificacion">Calificación: 4/5</div>
                </div>
                <div id="contenedor-pequeno-3" class="contenedor">
                    <img src="persona3.jpg" alt="Imagen de ejemplo 3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                    <div class="calificacion">Calificación: 5/5</div>
                </div>
                
            </div>
        </div>
    </div>
    <script>
        document.getElementById("btnlogin").addEventListener("click", function() {
            window.location.href = "inicio.html";
        });
    </script>
</body>
</html>


