<!-- inicio.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myappsitio/InicioDiseño.css' %}">
    <title>Inicio</title>
</head>

<body>
    <header id="cabeza">
        <img src="{% static 'myappsitio/logoRams.png' %}" alt="logo" id="logoaka">
        <div id="elementos">
            <div class="imagen-container">
                <a href="{% url 'carrito_view' %}">
                    <img src="{% static 'myappsitio/carrito.png' %}" alt="carrito" id="carro">
                    <label for="carrito" id="txtcarro">CARRITO</label>
                </a>
            </div>

            <div class="imagen-container">
                <a href="{% url 'config_usuario' %}">
                    <img src="{% static 'myappsitio/user.png' %}" alt="user" id="usuario">
                    <label for="usuario" id="txtiniciar">USUARIO</label>
                </a>
            </div>

            <div>
                <a href="{% url 'iniciar_sesion' %}">
                    <button id="cerrar"> CERRAR <br> SESION</button>
                </a>
            </div>

            <div>
                <a href="{% url 'historial_view' %}">
                    <button id="verHistorial"> VER <br> HISTORIAL</button>
                </a>
            </div>

            <img src="{% static 'myappsitio/lupa.png' %}" alt="lupa" id="lupita">

            <input type="text" id="buscador">
        </div>
    </header>

    <div id="bannerImagen">
        <img src="{% static 'myappsitio/banner.png' %}" alt="banner" id="banersito">
    </div>

    <div id="productos" class="productos-container">
        <a href="{% url 'menu_view' %}">
            <button id="menumostrar"> MENU <br> COMPLETO</button>
        </a>

        <div class="producto">
            <img src="{% static 'myappsitio/burger.png' %}" alt="burgers" class="producto-imagen">
            <label for="productos" class="producto-label">SUPER CHEESE</label>
        </div>
        <div class="producto">
            <img src="{% static 'myappsitio/sodita.png' %}" alt="soda" class="producto-imagen">
            <label for="productos" class="producto-label">REFRESCO</label>
        </div>
        <div class="producto">
            <img src="{% static 'myappsitio/papitas.png' %}" alt="papas" class="producto-imagen">
            <label for="productos" class="producto-label">PAPAS FRITAS</label>
        </div>
        <div class="producto">
            <img src="{% static 'myappsitio/burger22.png' %}" alt="pack-4-family" class="producto-imagen">
            <label for="productos" class="producto-label">PACK-4-FAMILY</label>
        </div>
        <div class="producto">
            <img src="{% static 'myappsitio/packind.png' %}" alt="pack-individual" class="producto-imagen">
            <label for="productos" class="producto-label">PACK INDIVIDUAL</label>
        </div>
    </div>
</body>

</html>
