{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myappsitio/login.css' %}">
    <title>Login</title>
</head>
<body>
    <img src="{% static 'myappsitio/logoRams.png' %}" alt="logo" id="logosito"><br>
    <div id="loginpanel">
        <form method="post" action="">
            {% csrf_token %}
            <input type="text" id="correo" name="correo" placeholder="Correo" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required> <br>
            <input type="password" id="contra" name="contraseña" placeholder="Contraseña" pattern=".{8,}" title="La contraseña debe tener al menos 8 caracteres" required> <br>
            <button type="submit" id="btnlogin">INICIAR SESIÓN</button> <br>
        </form>
        <li id="pasoregistro">
            <a href="{% url 'registrar_usuario' %}">No tienes cuenta? regístrate aquí</a>
        </li>
    </div>
</body>
</html>
