{% load static %}


<!-- registro.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myappsitio/registro.css' %}">
    <title>Registro</title>
</head>
<body>
    <img src="{% static 'myappsitio/logoRams.png' %}" alt="logo" id="logosito"><br>
    <div id="registro">
        <form method="post" action="{% url 'registrar_usuario' %}">
            {% csrf_token %}
            <input type="text" name="name" id="name" placeholder="Nombre" required> <br>
            <input type="email" name="correo" id="correo" placeholder="Correo" required> <br>
            <input type="password" name="contra" id="contra" placeholder="Contraseña" required> <br>
            <input type="tel" name="telefono" id="telefono" placeholder="Telefono" required> <br>
            <input type="text" name="direccion" id="direccion" placeholder="Direccion" required> <br>
            
            <button type="submit" id="btnregistro">REGISTRARSE</button> <br>
        </form>
        
        <li id="pasoiniciarsesion">
            <a href="{% url 'iniciar_sesion' %}">Ya tienes cuenta? inicia sesion aquí</a>
        </li>
    </div>
</body>
</html>
